.order-form-box::before {
    content: '';
    position: absolute;
    left: 0;
    top: -1rem;
    width: 100%;
    border-bottom: 3px solid var(--primaryG);
}
.shipping-total-cell span {
    padding-left: 15%;
}


.free-shipping-cell {
    font-size: 14px;
}

.grand-total-cell.checkPage {
    font-family: var(--GenSenRounded-M);
    font-size: 16px;
    display: flex;
    justify-content: center;
    letter-spacing: .2rem;
    padding: .5rem 0;
}

.grand-total-cell.checkPage span {
    color: var(--red);
}


#closeProduct {
    display: flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: .1rem;
    line-height: 1.5;
}

#order-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.order-form-box {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.payment-info-header {
    font-family: var(--GenSenRounded-M);
    font-size: 24px;
    letter-spacing: .2rem;

    position: relative;

    margin: .8rem 0;
    padding-bottom: 1rem;

    color: black;
}

.payment-info-header::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.3rem;
    width: 100%;
    border-bottom: 3px solid var(--primaryG);
}

#order-form label,
.payment-info label {
    font-family: var(--GenSenRounded-R);
    font-size: 14px;
    letter-spacing: .1rem;
    margin-bottom: .3rem;
}

.order-info {
    width: 100%;
    height: 100%;
    margin-right: 2rem;
}

.payment-info {
    width: 100%;
    height: 100%;
    margin-left: 2rem;
}

.address-select {
    width: 100%;
    border-radius: 16px;
    letter-spacing: .2rem;
    padding: .5rem 1rem;
    margin: .2rem 0;

    font-family: var(--GenSenRounded-R);
    font-size: 14px;
    color: var(--white);
    background-color: var(--primaryG);
    background-image: url('../images/shared/arrow-w.svg');
    background-size: 15%;
}

.order-info li {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.address-details {
    flex-direction: row !important;
    width: 100%;
}

.user-input,
.address-details input {
    border: 3px solid var(--primaryG);
    border-radius: 16px;
    padding: 1rem;
}

.postal-code {
    display: block;
    margin-right: 1rem;
    flex: 0 0 100px;
}

.address-detail {
    flex: 1;
}

.order-info ul span {
    font-family: var(--GenSenRounded-R);
    font-size: 16px;
    letter-spacing: .1rem;
    line-height: 2;
    padding-right: .8rem;
}

.recipient-address {
    width: 15%;
}

.payment-info-row {
    display: flex;
    align-items: center;
}

.payment-info-col {
    display: flex;
    flex-direction: column;
}

.payment-button {
    font-family: var(--GenSenRounded-R);
    font-size: 14px;
    letter-spacing: .1rem;
    color: var(--primaryG);
    text-align: center;
    cursor: pointer;

    border: 3px solid var(--primaryG);
    margin: 1rem 0;
    padding: .8rem 1rem;
    border-radius: 16px;
    margin: .5rem .8rem .5rem 0;
}

.invoice-select {
    width: 100%;
    text-align: center;
    border: 3px solid var(--primaryG);
    border-radius: 16px;
    letter-spacing: .2rem;
    padding: 1rem;
    margin: .2rem 0;

    font-family: var(--GenSenRounded-R);
    font-size: 16px;
    color: var(--primaryG);
}

.invoice-select option {
    background-color: var(--lightGreen);
}

.payment-info li {
    padding-bottom: 1rem;
}

#confirmation-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmation-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmation-message span {
    font-weight: 800;
    color: var(--primaryO);
    background-color: transparent;
}

.confirmation-message .order-amount,
.confirmation-message .farmer-contribution-amount {
    background-color: var(--primaryO);
    color: var(--white);
    padding: .1rem .3rem .2rem .5rem;
    border-radius: 12px;
    font-weight: 400;
}

.confirmation-message p {
    font-family: var(--GenSenRounded-R);
    letter-spacing: .2rem;
    line-height: 3;
}

